.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header > div{
  position: sticky;
  top: 6rem;
}
.header h4{
  text-align: left;
  margin-top: var(--margin-x);
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.cards > * {
  position: sticky;
  top: 6rem;
}
@media screen and (max-width: 850px) {
  .container {
    grid-template-columns: 1fr;
  }
}