* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Poppins';
  min-height: 400rem;
}
:root {
  --margin-x: 2rem;
  --margin-m: 5rem;
  --margin-l: 7.5rem;
}
.subtitle {
  font-size: clamp(2.5rem, 2.75vw, 3rem);
  max-width: 50rem;
  margin: 0 auto;
  align-self: center;
  letter-spacing: -3px;
  font-weight: 600;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}