.question {
  overflow: hidden;
  text-align: left;
  border: 1px solid #ffff;
  background: #fafafa;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.toggle {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
}
.toggle span {
  transform: rotate(-45deg);
  transition: all .2s ease-in-out;
}
.question.active .toggle span {
  transform: rotate(0deg);
}
.answer {
  max-height: 0rem;
  overflow: hidden;
  background: transparent;
  color: #7c7c7c;
  transition: all .2s ease-in-out;
}
.question.active .answer {
  max-height: 50rem;
  padding: 2rem 0 1rem;
}
